@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@theme {
  --color-dark-clr: #141a22;
  --color-card-clr: #1f2630;
  --color-hover-clr: #0d121a;
  --color-gradient-clr: linear-gradient(270deg, #862c8a 0%, #009c91 100%);
  --color-card-bg: #f8f8f8;
  --color-body-bg: #f5f5f5;
  --color-dark-card-bg: #5a185e;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #746f6f inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #9a9881 inset !important;
}

.dark input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #171010 inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #171010 inset !important;
  -webkit-text-fill-color: #e5e7eb !important;
}

html {
  scroll-behavior: smooth;
}
